{% extends "template.html" %}

{% block title %}Casino{% end %}

{% block content %}
		<div class="pure-g-r section">
			<div class="pure-u-1">
				<h1>Casino</h1>
				{% if version_updated==False %}
				<p class="warning">Chancecoin needs to be updated. Please go to <a href="http://chancecoin.com">Chancecoin.com</a> and update.</p>
				{% elif updated==False %}
				<p class="warning">Chancecoin is not finished synchronizing with the network.</p>
				{% else %}
				<p class="success">Chancecoin is up to date.</p>
				{% end %}
			</div>
		</div>

		<div class="pure-g-r section">
				<div class="pure-u-1">
						<h2>Roll the dice</h2>
						<form class="pure-form pure-form-stacked" action="/casino" method="post">
						  	<fieldset>
										<table class="pure-table pure-table-bordered">
												<thead>
														<tr>
																<th>Source address</th>
																<th>Bet size (in CHA)</th>
																<th>Chance to win (%)</th>
																<th>Payout multiplier</th>
																<th>Roll</th>
														</tr>
												</thead>
												<tbody>
														<tr>
																<td><input type="text" placeholder="source address" name="source"></td>
																<td><input type="text" placeholder="bet size" name="bet"></td>
																<td><input type="text" placeholder="chance to win" name="chance" value="50" onchange="document.getElementsByName('payout')[0].value=100/document.getElementsByName('chance')[0].value*({{1-house_edge}});"></td>
																<td><input type="text" placeholder="payout" name="payout" value="1.96" onchange="document.getElementsByName('chance')[0].value=100/(document.getElementsByName('payout')[0].value/({{1-house_edge}}));"></td>
																<td><button type="submit" class="pure-button pure-button-primary" name="roll" value="high">Roll the dice</button></td>
														</tr>
												</tbody>
										</table>
						  	</fieldset>
						</form>
				</div>
		</div>

		<div class="pure-g-r section padding-bottom">
			<div class="pure-u-1">
				<h2>Bets</h2>

				<table class="pure-table pure-table-bordered">
				    <thead>
				        <tr>
				            <th>Source address</th>
				            <th>Bet size</th>
				            <th>Chance to win</th>
				            <th>Payout multiplier</th>
				            <th>Profit</th>
				        </tr>
				    </thead>

				    <tbody>
				    		{% for bet in bets %}
				        <tr>
				            <td>{{bet['source']}}</td>
										<td>{{bet['bet']}}</td>
										<td>{{bet['chance']}}</td>
										<td>{{bet['payout']}}</td>
										<td>{{bet['profit']}}</td>
				        </tr>
				        {% end %}
				    </tbody>
				</table>
			</div>
		</div>

		<div class="pure-g-r section padding-bottom">
				<div class="pure-u-1">
						<h2>Quick numbers</h2>
						<table class="pure-table pure-table-bordered">
						    <thead>
						        <tr>
						            <th>Total CHA</th>
						            <th>Total CHA in bankroll</th>
						            <th>Max profit</th>
						        </tr>
						    </thead>

						    <tbody>
						        <tr>
						            <td>{{ format("%.2f" % float(supply)) }} CHA</td>
						            <td>{{ format("%.2f" % float(bankroll)) }} CHA</td>
						            <td>{{ format("%.2f" % float(max_profit)) }} CHA</td>
						        </tr>
						    </tbody>
						</table>
				</div>
		</div>

{% end %}
