{% extends "template.html" %}

{% block title %}FAQ{% end %}

{% block content %}
		<div class="pure-g-r section">
			<div class="pure-u-1">
				<h1>FAQ</h1>
				
				<h2>Where did Chancecoin come from?</h2>
				<p>Chancecoin is heavily based on <a href="http://counterparty.co">Counterparty/XCP</a>. Counterparty/XCP lacks one key feature: options trading. Chancecoin is designed specifically for options trading.</p>

				<h2>How do I buy Chancecoins? How do I actually trade options?</h2>
				<p>To get started, read the <a href="/participate">Participate</a> page.</p>

				<h2>How can I contribute to Chancecoin?</h2>
				<p>Contributions to the codebase are welcome through the <a href="https://github.com/chancecoin/chancecoin">GitHub</a> repository. Donations to 1BckY64TE6VrjVcGMizYBE7gt22axnq6CM are also welcome.</p>
			</div>
		</div>
{% end %}
