{% extends "template.html" %}

{% block title %}Resources{% end %}

{% block content %}
		<div class="pure-g-r section">
			<div class="pure-u-1-3 segment">
				<h2>Announcement thread</h2>
				<p>Chancecoin was officially announced on <a href="http://bitcointalk.org">Bitcointalk</a>.</p>
			</div>
			<div class="pure-u-1-3 segment">
				<h2>Documentation</h2>
				<p>Chancecoin is well-documented on the <a href="https://github.com/chancecoin/chancecoin">GitHub</a> repository.</p>
			</div>
			<div class="pure-u-1-3 segment">
				<h2>Chancecoind reference client</h2>
				<p>The Chancecoind reference client can be found on the <a href="https://github.com/chancecoin/chancecoin">GitHub</a> repository.</p>
			</div>
		</div>
{% end %}
