<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Trade options with Chancecoin.">

  <title>Chancecoin - {% block title %}{% end %}</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  {% block head %}{% end %}
</head>
<body>
  <div class="header">
    <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
      <a class="pure-menu-heading logo" href="/">Chancecoin</a>
      <ul>
        <li><a href="/casino">Casino</a></li>
        <li><a href="/wallet">Wallet</a></li>
        <li><a href="/participate">Participate</a></li>
        <li><a href="/technical">Technical</a></li>
        <li><a href="http://reddit.com/r/chancecoin">Subreddit</a></li>
        <li><a href="https://github.com/chancecoin/chancecoin">GitHub</a></li>
        <li><a href="https://bitcointalk.org/index.php?topic=528023.0">Bitcointalk</a></li>
      </ul>
    </div>
  </div>

  {% block splash %}{% end %}

  <div class="content">
    {% block content %}{% end %}
  </div>

  <div class="footer">
    Chancecoin &copy; 2014. Released under the <a href="http://opensource.org/licenses/mit-license.php">MIT License</a>.
  </div>

  <script src="http://yui.yahooapis.com/3.12.0/build/yui/yui.js"></script>
  <script>
  YUI().use('node-base', 'node-event-delegate', function (Y) {
  Y.one('body').delegate('click', function (e) {
  e.preventDefault();
  }, 'a[href="#"]');
  });
  </script>

  <!-- Piwik -->
  <script type="text/javascript">
  var pkBaseURL = (("https:" == document.location.protocol) ? "http://chancecoin.com/piwik/" : "http://chancecoin.com/piwik/");
  document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
  </script><script type="text/javascript">
  try {
  var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
  piwikTracker.trackPageView();
  piwikTracker.enableLinkTracking();
  } catch( err ) {}
  </script><noscript><p><img src="http://chancecoin.com/piwik/piwik.php?idsite=1" style="border:0" alt=""/></p></noscript>
  <!-- End Piwik Tag -->

</body>
</html>
